# Directories brought in by gnulib-tool:
/glthread
/gnulib-m4
/uniconv
/unilbrk
/unistr
/uniwidth

# Files brought in by gnulib-tool:
/Makefile.gnulib
/alloca.in.h
/asnprintf.c
/asprintf.c
/basename.c
/basename.h
/c-ctype.c
/c-ctype.h
/c-strcase.h
/c-strcasecmp.c
/c-strcaseeq.h
/c-strncasecmp.c
/c-strstr.c
/c-strstr.h
/concat-filename.c
/concat-filename.h
/config.charset
/diffseq.h
/errno.in.h
/error-progname.c
/error-progname.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fcntl.in.h
/file-ostream.oo.c
/file-ostream.oo.h
/filename.h
/float+.h
/float.in.h
/fopen.c
/fstrcmp.c
/fstrcmp.h
/fwriteerror.c
/fwriteerror.h
/gcd.c
/gcd.h
/getdelim.c
/getline.c
/getpagesize.c
/gettext.h
/hash.c
/hash.h
/iconv.in.h
/iconv_open-aix.gperf
/iconv_open-hpux.gperf
/iconv_open-irix.gperf
/iconv_open-osf.gperf
/iconv_open-solaris.gperf
/iconv_open.c
/iconveh.h
/intprops.h
/localcharset.c
/localcharset.h
/malloc.c
/malloca.c
/malloca.h
/malloca.valgrind
/mbrtowc.c
/mbsinit.c
/mbswidth.c
/mbswidth.h
/memchr.c
/memchr.valgrind
/minmax.h
/moo.h
/obstack.c
/obstack.h
/open.c
/ostream.oo.c
/ostream.oo.h
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/progname.c
/progname.h
/realloc.c
/ref-add.sin
/ref-del.sin
/relocatable.c
/relocatable.h
/signal.in.h
/sigprocmask.c
/size_max.h
/stat.c
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio-write.c
/stdio.in.h
/stdlib.in.h
/stpcpy.c
/str-two-way.h
/streq.h
/strerror.c
/striconv.c
/striconv.h
/striconveh.c
/striconveh.h
/striconveha.c
/striconveha.h
/string.in.h
/strstr.c
/sys_stat.in.h
/time.in.h
/uniconv.h
/unilbrk.h
/unistd.in.h
/unistr.h
/unitypes.h
/uniwidth.h
/unlocked-io.h
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/verify.h
/wchar.in.h
/wctype.in.h
/wcwidth.c
/xalloc.h
/xasprintf.c
/xconcat-filename.c
/xerror.c
/xerror.h
/xmalloc.c
/xmalloca.c
/xmalloca.h
/xsize.h
/xstrdup.c
/xstriconv.c
/xstriconv.h
/xvasprintf.c
/xvasprintf.h

# Files generated by the autotools:
/Makefile.in

# Files generated by gperf:
/iconv_open-aix.h
/iconv_open-hpux.h
/iconv_open-irix.h
/iconv_open-osf.h
/iconv_open-solaris.h

# Files generated by moopp:
/file-ostream.c
/file-ostream.h
/file_ostream.priv.h
/file_ostream.vt.h
/ostream.c
/ostream.h
/ostream.priv.h
/ostream.vt.h

