Miguel Ángel Arruga Vivas <rosen644835@gmail.com> Miguel Angel Arruga Vivas <rosen644835@gmail.com>
Daiki Ueno <ueno@gnu.org> Daiki Ueno <ueno@unixuser.org>
Guido Flohr <guido@imperia.net> Guido Flohr <guido@imperia.bg>
