# Directories brought in by gnulib-tool:
/glthread
/locale
/uniconv
/unilbrk
/uniname
/unistr
/uniwidth

# Files brought in by gnulib-tool:
/Makefile.gnulib
/getpagesize.c
/ignore-value.h
/init.sh
/macros.h
/putenv.c
/read-file.c
/read-file.h
/same-inode.h
/signature.h
/symlink.c
/test-alignof.c
/test-alloca-opt.c
/test-areadlink.c
/test-areadlink.h
/test-argmatch.c
/test-array_list.c
/test-atexit.c
/test-atexit.sh
/test-binary-io.c
/test-binary-io.sh
/test-byteswap.c
/test-c-ctype.c
/test-c-strcase.sh
/test-c-strcasecmp.c
/test-c-strcasestr.c
/test-c-strncasecmp.c
/test-c-strstr.c
/test-canonicalize-lgpl.c
/test-cloexec.c
/test-copy-acl.c
/test-copy-acl.sh
/test-copy-file.c
/test-copy-file.sh
/test-dup-safer.c
/test-dup2.c
/test-environ.c
/test-errno.c
/test-fcntl.c
/test-fcntl-h.c
/test-file-has-acl.c
/test-file-has-acl.sh
/test-fnmatch.c
/test-fopen.c
/test-fopen.h
/test-fstrcmp.c
/test-getdelim.c
/test-getdtablesize.c
/test-getline.c
/test-getopt.c
/test-getopt.h
/test-getopt_long.h
/test-gettimeofday.c
/test-iconv.c
/test-iconv-h.c
/test-linkedhash_list.c
/test-locale.c
/test-localename.c
/test-lock.c
/test-lstat.c
/test-lstat.h
/test-malloca.c
/test-mbrtowc.c
/test-mbrtowc1.sh
/test-mbrtowc2.sh
/test-mbrtowc3.sh
/test-mbrtowc4.sh
/test-mbsinit.c
/test-mbsinit.sh
/test-mbsrtowcs.c
/test-mbsrtowcs1.sh
/test-mbsrtowcs2.sh
/test-mbsrtowcs3.sh
/test-mbsrtowcs4.sh
/test-mbsstr1.c
/test-mbsstr2.c
/test-mbsstr2.sh
/test-mbsstr3.c
/test-mbsstr3.sh
/test-memchr.c
/test-moo-aroot.oo.c
/test-moo-aroot.oo.h
/test-moo-assign.c
/test-moo-asub1.oo.c
/test-moo-asub1.oo.h
/test-moo-root.oo.c
/test-moo-root.oo.h
/test-moo-sub1.oo.c
/test-moo-sub1.oo.h
/test-moo-sub2.oo.c
/test-moo-sub2.oo.h
/test-open.c
/test-open.h
/test-pipe-filter-ii1.c
/test-pipe-filter-ii1.sh
/test-pipe-filter-ii2-child.c
/test-pipe-filter-ii2-main.c
/test-pipe-filter-ii2.sh
/test-pipe.c
/test-pipe.sh
/test-pipe2.c
/test-posix_spawn1.c
/test-posix_spawn1.in.sh
/test-posix_spawn2.c
/test-posix_spawn2.in.sh
/test-quotearg.h
/test-quotearg-simple.c
/test-rawmemchr.c
/test-read-file.c
/test-readlink.c
/test-readlink.h
/test-rmdir.c
/test-rmdir.h
/test-sameacls.c
/test-sched.c
/test-set-mode-acl.c
/test-set-mode-acl.sh
/test-setenv.c
/test-sigaction.c
/test-signal.c
/test-sigpipe.c
/test-sigpipe.sh
/test-snprintf.c
/test-spawn.c
/test-stat.c
/test-stat.h
/test-stdbool.c
/test-stddef.c
/test-stdint.c
/test-stdio.c
/test-stdlib.c
/test-strchrnul.c
/test-strerror.c
/test-striconv.c
/test-striconveh.c
/test-striconveha.c
/test-string.c
/test-strstr.c
/test-symlink.c
/test-symlink.h
/test-sys_select.c
/test-sys_socket.c
/test-sys_stat.c
/test-sys_time.c
/test-sys_wait.c
/test-term-ostream-xterm
/test-term-ostream-xterm-16color.out
/test-term-ostream-xterm-256color.out
/test-term-ostream-xterm-88color.out
/test-term-ostream-xterm-8bit.out
/test-term-ostream-xterm-aix51.out
/test-term-ostream-xterm-basic.out
/test-term-ostream-xterm-irix65.out
/test-term-ostream-xterm-linux-debian.out
/test-term-ostream-xterm-linux-mandriva.out
/test-term-ostream-xterm-mingw.out
/test-term-ostream-xterm-netbsd3.out
/test-term-ostream-xterm-osf51.out
/test-term-ostream-xterm-r6.out
/test-term-ostream-xterm-solaris10.out
/test-term-ostream-xterm-xf86-v32.out
/test-term-ostream.c
/test-time.c
/test-tls.c
/test-unistd.c
/test-unsetenv.c
/test-vasnprintf-posix.c
/test-vasnprintf.c
/test-vasprintf.c
/test-verify.c
/test-verify.sh
/test-vsnprintf.c
/test-wchar.c
/test-wctype.c
/test-wcwidth.c
/test-xalloc-die.c
/test-xalloc-die.sh
/test-xvasprintf.c
/wctob.c
/zerosize-ptr.h

# Files generated by the autotools:
/Makefile.in

